<html>

<head>
    <title>BetYourDignity</title>
</head>

<body>
    <div>
        YOU ARE ALREADY LOGGED
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();
    </script>
</body>

</html>