<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>BetYourDignity</title>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.3.1/css/bulma.min.css" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  <style type="text/css">
    .mySlides {
      display: none;
      position: relative;
      vertical-align: middle;
      height: auto;
      max-width: 75%;
    }

    #div1 {
      display: inline-block;
      width: 10vw;
      height: 10vw;
      background-color: #6469b5;
    }

    #div2 {
      display: inline-block;
      width: 10vw;
      height: 10vw;
      background-color: #6469b5;
    }

    table {
      table-layout: fixed;
      background-color: #6469b5;
    }

    td {
      width: 33%;
      height: 33%;
      background-color: #6469b5;
    }
  </style>

</head>

<body>

  <section id="login" class="hero is-primary is-fullheight has-text-centered">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-mobile">
          <div class="column is-half is-offset-one-quarter">
            <div class="card">
              <br/>
              <h1 class="title is-1">
                <span style="color: #462929">Bet</span>
                <span style="color: #9f73fc">Your</span>
                <span style="color: #fc7373">Dignity</span>
              </h1>
              <img id="loader" src="loader.gif" style="display: none;" />
              <div id="loader_content" class="card-content">
                <div class="content">
                  <form>
                    <p class="control">
                      <input id="username" class="input has-text-centered" type="text" placeholder="Username">
                    </p>
                    <p class="control">
                      <input id="password" class="input has-text-centered" type="password" placeholder="Password">
                    </p>
                    <a id="play_button" class="button is-primary is-outlined is-large">
                      <span class="icon">
                        <i class="fa fa-play"></i>
                      </span>&nbsp;Play
                    </a>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="rooms" class="hero is-primary is-fullheight has-text-centered" style="display: none;">
    <div class="hero-head">
      <div class="container">
        <br/>
        <p>
          <h1 class="title is-1">Rooms</h1>
        </p>
        <div id="rooms_list"></div>
      </div>
    </div>

    <div class="hero-foot">
      <div class="container">
        <a class="modal-button" data-target="#create_room">
          <div class="box is-success">
            <h1 class="title is-1" style="color: black">
              <span>
                <i class="fa fa-plus"></i>
              </span> Create Room</h1>
          </div>
        </a>
      </div>
      <br/>
    </div>
  </section>

  <section id="select" class="hero is-primary is-fullheight has-text-centered" style="display: none;">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-mobile">
          <div class="column is-half is-offset-one-quarter">
            <div class="card">
              <br/>
              <h1 class="title is-1">
                <span style="color: #462929">Choose</span>
                <span style="color: #9f73fc">Your</span>
                <span style="color: #fc7373">Biene</span>
              </h1>
              <div class="w3-display-container" style="height:48%">
                <img class="mySlides w3-display-topmiddle" name="adria" src="/assets/adria.png">
                <img class="mySlides w3-display-topmiddle" name="alba" src="/assets/alba.png">
                <img class="mySlides w3-display-topmiddle" name="albert" src="/assets/albert.png">
                <img class="mySlides w3-display-topmiddle" name="alvaro" src="/assets/alvaro.png">
                <img class="mySlides w3-display-topmiddle" name="ana" src="/assets/ana.png">
                <img class="mySlides w3-display-topmiddle" name="andrea" src="/assets/andrea.png">
                <img class="mySlides w3-display-topmiddle" name="andreu" src="/assets/andreu.png">
                <img class="mySlides w3-display-topmiddle" name="aslo" src="/assets/aslo.png">
                <img class="mySlides w3-display-topmiddle" name="bernat" src="/assets/bernat.png">
                <img class="mySlides w3-display-topmiddle" name="cori" src="/assets/cori.png">
                <img class="mySlides w3-display-topmiddle" name="david" src="/assets/david.png">
                <img class="mySlides w3-display-topmiddle" name="edgar" src="/assets/edgar.png">
                <img class="mySlides w3-display-topmiddle" name="elena" src="/assets/elena.png">
                <img class="mySlides w3-display-topmiddle" name="faix" src="/assets/faix.png">
                <img class="mySlides w3-display-topmiddle" name="felix" src="/assets/felix.png">
                <img class="mySlides w3-display-topmiddle" name="ferja" src="/assets/ferja.png">
                <img class="mySlides w3-display-topmiddle" name="gorka" src="/assets/gorka.png">
                <img class="mySlides w3-display-topmiddle" name="jona" src="/assets/jona.png">
                <img class="mySlides w3-display-topmiddle" name="maria" src="/assets/maria.png">
                <img class="mySlides w3-display-topmiddle" name="marina" src="/assets/marina.png">
                <img class="mySlides w3-display-topmiddle" name="oriol" src="/assets/oriol.png">
                <img class="mySlides w3-display-topmiddle" name="palo" src="/assets/palo.png">
                <img class="mySlides w3-display-topmiddle" name="pau" src="/assets/pau.png">
                <img class="mySlides w3-display-topmiddle" name="victor" src="/assets/victor.png">
                <img class="mySlides w3-display-topmiddle" name="xavi" src="/assets/xavi.png">

                <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
                <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
              </div>
              <button class="w3-button w3-black" onclick="select()">Select</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div id="create_room" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Create Room</p>
        <button class="delete"></button>
      </header>
      <section class="modal-card-body">
        <p class="control">
          <form id="create_room_form" class="has-text-centered">
            <input id="room_name" class="input has-text-centered" type="text" placeholder="Room name">
            <br/>
            <br/>
            <a id="create_room_button" class="button is-primary">Create</a>
          </form>
        </p>
      </section>
    </div>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    function getCookie(name) {
      var value = "; " + document.cookie;
      var parts = value.split("; " + name + "=");
      if (parts.length == 2) return parts.pop().split(";").shift();
    }
    if (getCookie('sessionId') != null) {
      $('#login').hide();
      $('#rooms').show();
    }
    var socket = io();
    socket.on('loggin', function (data) {
      $('#loader_content').show();
      $('#loader').hide();
      $('#login').hide();
      $('#rooms').show();
      setRooms(data.rooms);
      document.cookie = "sessionId=" + JSON.stringify(data.sessionId);
    });
    socket.on('setRooms', function (rooms) {
      setRooms(rooms);
    })
    socket.on('setPlayerNum', function (playerNum) {
      document.cookie = "playerNum=" + playerNum;
    })

    function setRooms(rooms) {
      console.log(rooms);
      var room = rooms;
      $('#rooms_list').text('');
      if (Object.keys(room).length != 0) {
        if (room.status == 1) room.status = 'waiting';
        if (room.status == 2) room.status = 'playing';
        $('#rooms_list').append('<a id="' + room.name + '" name="join_room" onclick="joinRoom(' + room.name + ')">' +
          '<div class="box"><article class="media"><div class="media-left"><figure class="image is-64x64">' +
          '<figure class="image is-64x64"><img src="' + room.img + '" /></figure></figure></div><div class="media-content">' +
          '<div class="content"><p><strong>' + room.name + '</strong> <small>' + room.status + '</small><br><strong>' +
          'Player 1:</strong> ' + room.host + '<br><strong>Player 2:</strong> ' + room.visitor + '</p></div></div><div class="media-right"><br/>' +
          '<span style="color: black"><i class="fa fa-play"></i></span></div></article></div></a>');
      }
    };

    socket.on('selectBiene', function () {
      $('#rooms').hide();
      $('#select').show();
    });

    socket.on('startGame', function () {
      window.location.href = location.origin + '/play';
    });

    function joinRoom(roomName) {
      socket.emit('joinRoom', roomName);
    }

    jQuery(document).ready(function ($) {

      $('.modal-button').click(function () {
        var target = $(this).data('target');
        $('html').addClass('is-clipped');
        $(target).addClass('is-active');
      });

      $('.modal-background, .modal-close').click(function () {
        $('html').removeClass('is-clipped');
        $(this).parent().removeClass('is-active');
      });

      $('.modal-card-head .delete, .modal-card-foot .button').click(function () {
        $('html').removeClass('is-clipped');
        $('#create_room').removeClass('is-active');
      });

      $('#play_button').on('click', function (e) {
        socket.emit('loggin', { username: $('#username').val(), password: $('#password').val() });
        $('#loader_content').hide();
        $('#loader').show();
      });

      $('#create_room_button').on('click', function (e) {
        socket.emit('newRoom', $('#room_name').val());
        $('#create_room').removeClass('is-active');
      });

    });

    var slideIndex = 1;
    showDivs(slideIndex);

    function select() {
      socket.emit('selectBiene', document.getElementsByClassName("mySlides")[slideIndex-1].getAttribute("name"));
    }

    function plusDivs(n) {
      showDivs(slideIndex += n);
    }

    function showDivs(n) {
      var i;
      var x = document.getElementsByClassName("mySlides");
      if (n > x.length) { slideIndex = 1 }
      if (n < 1) { slideIndex = x.length }
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
      }
      x[slideIndex - 1].style.display = "block";
    }

  function showDivs(n) {
    var i;
    var x = document.getElementsByClassName("mySlides");
    if (n > x.length) { slideIndex = 1 }
    if (n < 1) { slideIndex = x.length }
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    x[slideIndex - 1].style.display = "block";
  }
  </script>
</body>

</html>